<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>leftpage</key>
	<dict>
		<key>hasleftpage</key>
		<true/>
		<key>leftpagestlye</key>
		<integer>0</integer>
		<key>leftpageitem</key>
		<array>
			<dict>
				<key>title</key>
				<string></string>
				<key>icon</key>
				<string></string>
				<key>classname</key>
				<string></string>
				<key>url</key>
				<string></string>
			</dict>
		</array>
	</dict>
	<key>rightpage</key>
	<dict>
		<key>hasrightpage</key>
		<true/>
		<key>rightpagestlye</key>
		<integer>0</integer>
		<key>rightpageitem</key>
		<array>
			<dict>
				<key>title</key>
				<string></string>
				<key>icon</key>
				<string></string>
				<key>classname</key>
				<string></string>
				<key>url</key>
				<string></string>
			</dict>
		</array>
	</dict>
	<key>tabbar</key>
	<dict>
		<key>hastabbar</key>
		<false/>
		<key>tabbarstlye</key>
		<integer>0</integer>
		<key>tabbaritem</key>
		<array>
			<dict>
				<key>title</key>
				<string>政务</string>
				<key>icon</key>
				<string></string>
				<key>isNavigationController</key>
				<true/>
				<key>navBarStyle</key>
				<integer>1</integer>
				<key>classname</key>
				<string>ViewController</string>
				<key>url</key>
				<string></string>
			</dict>
			<dict>
				<key>title</key>
				<string>办事</string>
				<key>icon</key>
				<string></string>
				<key>isNavigationController</key>
				<true/>
				<key>navBarStyle</key>
				<integer>1</integer>
				<key>classname</key>
				<string>ViewController</string>
				<key>url</key>
				<string></string>
			</dict>
			<dict>
				<key>title</key>
				<string>领导</string>
				<key>icon</key>
				<string></string>
				<key>isNavigationController</key>
				<true/>
				<key>navBarStyle</key>
				<integer>1</integer>
				<key>classname</key>
				<string>ViewController</string>
				<key>url</key>
				<string></string>
			</dict>
		</array>
	</dict>
</dict>
</plist>
